* {
  padding: 10px;
  margin: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(32, 32, 32);
}

.content {
  color: rgb(206, 209, 212);
  width: 100%;
  background-color: rgb(15, 87, 45);
  border: 10px solid rgb(143, 141, 141);
}

.contact-number, .email-address, .address {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(206, 209, 212);
}

.address {
  text-indent: 10px;
}