* {
  padding: 5px;
  margin: 5px;
}

body {
  height: 1000vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(32, 32, 32);
}

.content {
  width: 100%;
  background-color: whitesmoke;
}

img {
  float: left;
}

.header > h1, h2, ul > li{
  display: flex;
}

.summary {
  margin: 0;
  clear: left;
}

.summary h3 {
  font-weight: 900;
}

.summary p {
  text-indent: 40px;
  text-align: justify;
}

.education {
  margin: 0;
  display: block;
  float: right;
  width: 70%;
}

.education h3 {
  display: block;
}

.education ul > strong, p {
  clear: left;
  display: block;
}

.work-experience {
  margin-top: 0px;
  display: block;
  float: right;
  width: 70%;
  text-wrap: wrap;
}


.year {
  display: inline;
  text-align: end;
}

.description {
  text-indent: 30px;
  text-align: justify;
  margin-left: 12px;
}

.skills, .certifications{
  width: 30%;
  margin: 0;
}

footer {
  width: 100%;
  clear: both;
  text-align: center;
}

.header > ul > a {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(13, 70, 32);
  color: aliceblue;
  border-radius: 20px;
}









